//
// LAYOUTS - RESPONSIVE
// Place all of your custom responsive styles in here. This stylesheet is loaded last,
// and takes precedence over all others.
//
// The various screen sizes and breakpoints can be configured in variables.less
//
// --------------------------------------------------

/* Responsive Text Centering */
.text-center-sm,
.text-center-md,
.text-center-lg,
.text-right-sm,
.text-right-md,
.text-right-lg {
	text-align: inherit;
}

// Breakpoint styles: these styles will only apply on screens smaller than
// the defined @grid-float-breakpoint-max (usually 767px).

@media (max-width: @grid-float-breakpoint-max) {

}

// XS styles - default: x <= 479px
@media (max-width: @screen-xs-max) {
	.text-center-xs {
		text-align: center !important;
		float:      none !important;
	}

	.text-right-xs {
		text-align: right;
	}
}

// Small styles - default: 480px <= x <= 991px
@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {

}

// Medium styles - default: 992px <= x <= 1199px
@media (min-width: @screen-md) and (max-width: @screen-md-max) {
	#main {
		min-height: 250px;
	}
}

// Large styles - default: 1200px <= x
@media (min-width: @screen-lg) {
	#main {
		min-height: 250px;
	}
}

/* Define xs styles after defaults so they take precedence */

/* Small grid */
@media (min-width: @screen-tablet) {
	.text-center-sm, .text-center-xs {
		text-align: center;
	}

	.text-right-sm, .text-right-xs {
		text-align: right;
	}
}

/* Medium grid */
@media (min-width: @screen-desktop) {
	.text-center-md, .text-center-sm, .text-center-xs {
		text-align: center;
	}

	.text-right-md, .text-right-sm, .text-right-xs {
		text-align: right;
	}
}

/* Large grid */
@media (min-width: @screen-lg-desktop) {
	.text-center-lg, .text-center-md, .text-center-sm, .text-center-xs {
		text-align: center;
	}

	.text-right-lg, .text-right-md, .text-right-sm, .text-right-xs {
		text-align: right;
	}
}

.text-xs-left {
	text-align: left;
}

.text-xs-right {
	text-align: right;
}

.text-xs-center {
	text-align: center;
}

.text-xs-justify {
	text-align: justify;
}

@media (min-width: @screen-sm-min) {
	.text-sm-left {
		text-align: left;
	}

	.text-sm-right {
		text-align: right;
	}

	.text-sm-center {
		text-align: center;
	}

	.text-sm-justify {
		text-align: justify;
	}
}

@media (min-width: @screen-md-min) {
	.text-md-left {
		text-align: left;
	}

	.text-md-right {
		text-align: right;
	}

	.text-md-center {
		text-align: center;
	}

	.text-md-justify {
		text-align: justify;
	}
}

@media (min-width: @screen-lg-min) {
	.text-lg-left {
		text-align: left;
	}

	.text-lg-right {
		text-align: right;
	}

	.text-lg-center {
		text-align: center;
	}

	.text-lg-justify {
		text-align: justify;
	}
}
